@{
    ViewData["Title"] = "Home Page";
}

<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.9.0/slick.min.css"/>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.9.0/slick-theme.min.css"/>

<div id="app">
    <div class="layout-content">
        <div class="layout-content-body">
            <div class="row ">
                <div class="col-sm-12">
                    <div class="row ">
                        <div class=" col-md-12 text-center m-b">
                            <h3 class="m-b-0">Feed</h3>
                            <span class="col-md-12 m-t m-b">
                                <i class="icon icon-circle"></i>
                            </span>
                        </div>
                        <div class="col-md-6 col-md-offset-3" v-for="(post,index) in posts" style="margin-top: 10px;">
                            <div class="card card_shadow">
                                <div class="post_images">
                                    <div class="card-image">
                                        <a v-bind:href="post.static_map_url" v-bind:data-lightbox="index">
                                            <img class="card-img-bottom img-responsive" v-bind:src="post.static_map_url" style="width: 100%">
                                        </a>
                                    </div>
                                    <div class="card-image">
                                        <a v-bind:href="post.image" v-bind:data-lightbox="index">
                                            <img class="card-img-bottom img-responsive" v-bind:src="post.image" style="width: 100%">
                                        </a>
                                    </div>

                                </div>
                                <div class="card-body">
                                    <h4 class="card-title ">
                                        <small style="color: black">
                                            <i class="icon icon-clock-o"></i>
                                            {{ post.created_at }}
                                        </small>
                                        <br>
                                        <br>
                                        <a class="link-muted" href="#">{{ post.description }}</a>
                                    </h4>

                                </div>
                            </div>
                            <!-- <div class="card">
                                <div class="card-header">
                     
                                </div>
                    
                            </div> -->
                        </div>

                    </div>
                </div>

            </div>

        </div>
    </div>


</div>


@section Scripts
{
    <script src="https://cdnjs.cloudflare.com/ajax/libs/vue/2.5.17/vue.min.js"></script>
    <!-- Firebase App is always required and must be first -->
    <script src="https://www.gstatic.com/firebasejs/5.5.5/firebase-app.js"></script>

    <!-- Add additional services that you want to use -->
    @* <script src="https://www.gstatic.com/firebasejs/5.5.5/firebase-auth.js"></script> *@
    <script src="https://www.gstatic.com/firebasejs/5.5.5/firebase-database.js"></script>
    <script src="https://www.gstatic.com/firebasejs/5.5.5/firebase-firestore.js"></script>
    @* <script src="https://www.gstatic.com/firebasejs/5.5.5/firebase-messaging.js"></script> *@
    @* <script src="https://www.gstatic.com/firebasejs/5.5.5/firebase-functions.js"></script> *@

    <!-- Comment out (or don't include) services that you don't want to use -->
    <!-- <script src="https://www.gstatic.com/firebasejs/5.5.5/firebase-storage.js"></script> -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/lightbox2/2.10.0/js/lightbox.min.js"></script>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.9.0/slick.min.js"></script>


    <script>

        var Vue = new Vue({
            el: '#app',
            data: {
                db: null,
                config: {
                    apiKey: "AIzaSyDhAx6mvMk9AVekWyQtPtiSyr6qkJadoNs",
                    authDomain: "nasa-app-challenge.firebaseapp.com",
                    databaseURL: "https://nasa-app-challenge.firebaseio.com",
                    projectId: "nasa-app-challenge",
                    storageBucket: "nasa-app-challenge.appspot.com",
                    messagingSenderId: "549310585067"
                },
                posts: []
            },
            methods: {
                addToFeed: function(postData) {

                    this.posts.unshift({
                        description: postData.description,
                        created_at: postData.created_at,
                        image: postData.image,
                        static_map_url: 'https://maps.googleapis.com/maps/api/staticmap?center=' +
                            postData.lat +
                            ',' +
                            postData.lng +
                            '&zoom=13&size=1920x400&markers=' +
                            postData.lat +
                            ',' +
                            postData.lng +
                            '&key=AIzaSyCvTITAJSKdDr-rKJk5grdu4WpFcdzNy90'
                    });
                }
            },
            mounted: function() {

                firebase.initializeApp(this.config);

                this.db = firebase.firestore();

                // Disable deprecated features
                this.db.settings({
                    timestampsInSnapshots: true
                });

                var self = this;

                this.db.collection("posts")
                    .onSnapshot(function(querySnapshot) {
                        querySnapshot.docChanges().forEach(function(change) {
                            if (change.type === "added") {
                                self.addToFeed(change.doc.data());
                            }
                        });
                    });

                $(".post_images").slick();
            }
        });

    </script>

}